@import "tailwindcss";

@theme {
  --color-base: #1d1d1d;
  --color-nav-bar: #252627;
  --color-dark-text: #b3b3b3;
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../public/fonts/FiraMono/FiraMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../public/FiraMono/FiraMono-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../public/fonts/FiraMono/FiraMono-Bold.ttf') format('truetype');
}

